
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
{% load plotly_dash %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <div class="container justify-content-center">
    <div class="row justify-content-md-left">
      <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{oceananalysis.pk}} - {{oceananalysis.title}}</h5>
        <p class="card-text">{{oceananalysis.description}}</p>
        <div class="" style="font-size:0.8em">
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-left">
    <div class="card" style="width: 18rem;">
      <button type="button" class="btn btn-outline-success"><a href="{% url 'new_dash:ocean_analysis_run' pk=oceananalysis.pk %}" >Run</a></button>
    </div>
  </div>
</div>
{%if app %}
  <div class="cl">
    {% plotly_app name="dash2" ratio=1   %}
  </div>

{%else %}
  <p>We couldn't load the Dashboard. Please check.</p>
{% endif %}

{% endblock %}
