
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
{% load plotly_dash %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <div class="container justify-content-center">
    <div class="row justify-content-md-left">
      <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{several_same_bfm.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted"">ond:{{several_same_bfm.ond}} | AP: {{several_same_bfm.ap}} | LOS: {{several_same_bfm.los}} | RQ1 (2) | repeat: {{several_same_bfm.repeats}}</h6>
        <h6 class="card-subtitle mb-2 text-muted"><i class="far fa-user"></i> {{several_same_bfm.author}}  | <i class="far fa-clock"></i> {{several_same_bfm.timestamp}}</h6><br>
        <h6 class="card-subtitle mb-2 text-muted">{{several_same_bfm.response_time}} ms | size: {{several_same_bfm.payload_size}} b</h6>
        <p class="card-text">{{several_same_bfm.description}}</p>
        <div class="" style="font-size:0.8em">
        <a href="{% static '/bfm/' %}{{bfm.pk}}/bfm_rq.xml" class="card-link" download><i class="far fa-arrow-alt-circle-down"></i> Download-RQ</a>
        <a href="{% static '/bfm/' %}{{bfm.pk}}/bfm_rs.xml" class="card-link" download> <i class="far fa-arrow-alt-circle-down"></i> Download-RS</a>
        <a href="{% static '/bfm/' %}{{bfm.pk}}/df.csv" class="card-link" ><i class="far fa-arrow-alt-circle-down"></i> Download DF</a>
        <br>
        <a href="{% static '/bfm/' %}{{bfm.pk}}/bfm_rq.xml" class="card-link" ><i class="far fa-eye"></i> See RQ</a>
        <a href="{% static '/bfm/' %}{{bfm.pk}}/bfm_rs.xml" class="card-link" ><i class="far fa-eye"></i> See RS</a>
        <br>


        </div>
      </div>
    </div>

  </div>
  <div class="row justify-content-md-left">
    <div class="card" style="width: 18rem;">
      <button type="button" class="btn btn-outline-success"><a href="{% url 'new_dash:process_summary' pk=several_same_bfm.pk %}" >Process Summary</a></button>
      <button type="button" class="btn btn-outline-success"><a href="{% url 'new_dash:send_again' pk=several_same_bfm.pk %}" >Send Again</a></button>
      <button type="button" class="btn btn-outline-success"><a href="{% url 'new_dash:parse_bfmrs_to_df' pk=several_same_bfm.pk %}" >Parse BFM RS to DF</a></button>

    </div>
  </div>
</div>
{%if app %}
  <div class="cl">
    {% plotly_app name="dash2" ratio=1   %}
  </div>

{%else %}
  <p>We couldn't load the Dashboard. Please check.</p>
{% endif %}

{% endblock %}
