{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}


{% block content %}
  <div class="container">
    <h1>BFMs</h1>
    <div class="jumbotron">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="..." alt="First slide">
          </div>
          {% for bfm in bfm_list %}
            <div class="carousel-item ">
              {% include 'bfm/bfm_detail.html' %}
            </div>
          {% endfor %}
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      </div>
    </div>
  </div>
{% endblock %}
